$max-width: 790px;
$logo-height: 110px;
$logo-width: 110px;
$logo-radius: 10px;
$logo-inner-height: 90px;
$logo-inner-width: 90px;
$logo-inner-radius: 50%;

#title {
  margin-bottom: 0.5em;
}

#title a {
  text-indent: -999em;
  @include background-image('/images/avatar.png', '/images/avatar@2x.png');
  height: 52px;
  width: 52px;
  display: block;
}

#separator {
  background: #1d1e21;
  height: 2px;
  z-index: 0;
  margin-top: 10px;
  -webkit-box-shadow: 0px 1px rgba(250,250,250,0.04);
}

#nav {
  margin: 20px 0;
  text-transform: uppercase;
  padding: 0;
  list-style: none;
}

header input {
  margin: 20px 0 50px;
}

#octopress_linkback {
  font-size: 0.65em;
  letter-spacing: 0;
  line-height: 15px;
}

#main {
  width: 470px;
  float: left;
}

// Large screen
@media only screen and (min-width: 1000px) {
  .wrapper {
    @include center-control($max-width);
    margin-top: 110px;
  }

  #sidebar {
    float: left;
    width: 320px;
    margin-top: 50px;
  }

  ul#menu {
    max-width: 300px;
    width: 65%;
  }

}

// Medium-width screen
@media only screen and (max-width: 630px) and (orientation: portrait) {
  body { min-width: 0; }

  #sidebar {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  aside#logo {
    margin: 0 auto;
    position: relative;
    left: auto;
    right: auto;
    margin-top: 20px;
    margin-bottom: 0;
  }

  ul#menu {
    width: auto;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  ul#menu li.link {
    display: inline-block;
    float: none;
    width: auto;
    clear: none;
    margin: 0;
    margin-bottom: 5px;
  }

  ul#menu li.rss {
    display: none;
  }

  section#main {
    margin: 0;
    border: none;
    width: 100%;
    min-width: 0;
    margin-top: 15px;
    overflow: hidden;
  }

  section#main article {
    width: auto;
    padding-left: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
  }

  article p, article h2, article h1, article h3, article h4, article h5, article h6 {
    padding-right: 10px;
    padding-left: 15px;
  }

  section#main article h2 {
    margin-top: 0;
  }

  article.post {
    width: auto;
    padding-left: 0;
    padding-top: 30px;
    padding-bottom: 15px;
    overflow: hidden;
  }

  article.post figure {
    padding-right: 10px;
    padding-left: 15px;
    width: 90%;
  }

  aside#octopress_linkback {
    display: none;
  }
}

// Articles
article.post {
  margin: 30px 15px 60px;
}

section.comments {
 margin: 0 20px 10px
}
article.post h2 {
  margin-bottom: 20px
}
article.post h2, article.post p {
  max-width: 450px;
}

article.post img {
  width: 490px;
  margin: 10px 0 10px-55px;
}
article.post figure {
  max-width: 500px;
}

// Anchor
h2.entry-title a.anchor {
  font-size: 0.9em;
  margin-left: 5px;
  border-bottom: 0;
}

// Navigation
nav#pagination {
  padding: 40px;
  border-top: 1px solid #E2E2E2;
  padding-bottom: 70px;
}

nav#pagination span.next a, nav#pagination span.prev a {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  font-size: 0.75em;
  text-transform: uppercase;
}

nav#pagination span.prev {
  display: block;
  float: left;
}

nav#pagination span.next {
  display: block;
  float: right;
}
