/* _theme.sass */
// New theme colors
$m-color-highlight: #57AD68;

// text
$t-color: #333332;
$t-color-darker: #666665;
$t-color-darkest: #B3B3B1;

// buttons
$bt-color-light: #53A663;
$bt-color-dark: #8E8E8C;
$bt-border-color-light: #A9D8B2;
$bt-border-color-dark: #DEDEDC;
$bt-color-darker: #B3B3B1;

// bg
$bg-color-dark: #F9F9F9;
$bg-color: #fff;
$noise-bg: #002b36;

// border
$bor-color: #f2f2f0;
$bor-color-dark: #b3b3b1;

// Main Link Colors
$link-color: #53A663;

// Main Section Colors
$header-text-color: #47bad8;
$text-color: #23262b !default;
$text-color-light: #aaa !default;
$text-shadow: 0px 2px rgba(0,0,0,0.31);
$type-border: #ddd !default;

/* General rules */
body {
  background-color: $bg-color;
}
a {
  color: $t-color;
  text-decoration: none;
}

.dark-horizon {
  background: $bor-color;
  border: 0;
  border-top: 1px;
  height: 1px;
  margin: 20px auto 30px;
}
.btn {
  display: inline-block;
  outline: 0;
  color: $bt-color-dark;
  border: 1px solid $bt-border-color-dark;
  vertical-align: bottom;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 999em;
  padding: 0 20px;
  font-weight: 300;
  font-size: 12px;
  @include transition(.2s, ease)
}
.btn:hover {
  border: 1px solid $bt-color-dark;
}