$blockquote: $type-border !default;
$sans: 'Open Sans', sans-serif !default;
$serif: "PT Serif", Georgia, Times, "Times New Roman", serif !default;
$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;
$heading-font-family: 'Open Sans', sans-serif !default;
$header-title-font-family: $heading-font-family !default;
$header-subtitle-font-family: $heading-font-family !default;

// Fonts
.heading {
  font-family: $heading-font-family;
}
.sans { font-family: $sans; }
.serif { font-family: $serif; }
.mono { font-family: $mono; }

body {
  line-height: 1.5em;
  color: $text-color;
  @extend .sans;
}
h1 {
  font-size: 2.2em;
  line-height: 1.2em;
}

@media only screen and (min-width: 992px) {
  body { font-size: 1.15em; }
  h1 { font-size: 2.6em; line-height: 1.2em; }
}

header h3 {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5em;
}

header h4 {
  font-size: 0.7em;
}

header ul {
  font-size: 0.75em;
}


article h4 {
  font-size: .75em;
  margin-bottom: .75em;
  font-weight: bold;
}

article.post p {
  font-size: 0.75em;
  margin-bottom: 0.5em;
  text-indent: 2em;
  line-height: 21px;
}
article.post p.meta{
  text-indent: 0;
  margin-top: 3em;
}

article.post p code {
  text-indent: 0;
}

.comments h1,
.comments h2 {
  font-size: 1em;
  line-height: 2em;
}

p, blockquote, ul, ol { margin-bottom: 1.5em; }

ul { list-style-type: disc;
  ul { list-style-type: circle; margin-bottom: 0px;
    ul { list-style-type: square; margin-bottom: 0px; }}}

ol { list-style-type: decimal;
  ol { list-style-type: lower-alpha; margin-bottom: 0px;
    ol { list-style-type: lower-roman; margin-bottom: 0px; }}}

ul, ol { &, ul, ol { margin-left: 1.3em; }}

strong { font-weight: bold; }

em { font-style: italic; }

sup, sub { font-size: 0.8em; position: relative;  display: inline-block; }
sup { top: -.5em; }
sub { bottom: -.5em; }

q { font-style: italic;
  &:before { content: "\201C"; }
  &:after { content: "\201D"; }
}

em, dfn { font-style: italic; }

strong, dfn { font-weight: bold; }

del, s { text-decoration: line-through; }

abbr, acronym { border-bottom: 1px dotted; cursor: help; }

pre, code, tt { @extend .mono; }

sub, sup { line-height: 0; }

hr { margin-bottom: .2em; }

small { font-size: .8em; }

big { font-size: 1.2em; }

blockquote {
  $bq-margin: 1.2em;
  font-style: italic;
  position: relative;
  font-size: 1.2em;
  line-height: 1.5em;
  padding-left: 1em;
  border-left: 4px solid rgba($text-color-light, .5);
  cite {
    font-style: italic;
    a { color: $text-color-light !important; word-wrap: break-word; }
    &:before { content: '\2014'; padding:{right: .3em; left: .3em;} color: $text-color-light; }
  }
  @media only screen and (min-width: 992px) {
    padding-left: 1.5em;
    border-left-width: 4px;
  }
}

.pullquote-right:before,
.pullquote-left:before {
  /* Reset metrics. */
  padding: 0;
  border: none;

  /* Content */
  content: attr(data-pullquote);

  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 45%;
  margin: .5em 0 1em 1.5em;

  /* Baseline correction */
  position: relative;
  top: 7px;
  font-size: 1.4em;
  line-height: 1.45em;
}

.pullquote-left:before {
  /* Make left pullquotes align properly. */
  float: left;
  margin: .5em 1.5em 1em 0;
}

#blog-archives article {
  margin: 20px 0;  
}

#blog-archives article h1 {
  font-size: 1em;
  margin-bottom: .5em;
}

#blog-archives article time {
  font-size: .75em;
}
#blog-archives article footer {
  font-size: .6em
}
/* @extend this to force long lines of continuous text to wrap */
.force-wrap {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}
