@mixin selection($bg, $color: inherit, $text-shadow: none){
  * {
    &::-moz-selection { background: $bg; color: $color; text-shadow: $text-shadow; }
    &::-webkit-selection { background: $bg; color: $color; text-shadow: $text-shadow; }
    &::selection { background: $bg; color: $color; text-shadow: $text-shadow; }
  }
}

@mixin center-control($width, $margin-l: auto, $margin-r: auto){
  width: $width;
  margin-left: $margin-l;
  margin-right: $margin-r;
}

@mixin transition($duration, $timing-function, $property: all){
  -webkit-transition: $property $duration $timing-function;
  -moz-transition: $property $duration $timing-function;
  -o-transition: $property $duration $timing-function;
  -ms-transition: $property $duration $timing-function;
  transition: $property $duration $timing-function;
}

@mixin transform-scale($number){
  -webkit-transform: scale($number);
  -moz-transform: scale($number);
  -o-transform: scale($number);
  -ms-transform: scale($number);
  transform: scale($number);
}
