footer {
  border-top: 1px solid $bor-color;
  margin-top: 60px;
  padding: 50px 0 60px;
  @include background-image(linear-gradient($bg-color-dark, $bg-color));
  .global-footer {
    ul {
      list-style: none;
      li {
        float: right;
        a {
          color: $bt-color-darker;
        }
        a:hover {
          color: $bt-color-dark;
        }
      }
    }
    .social-network {
      margin-left: 0;
      margin-bottom: 0;
      padding-bottom: 5px;
      border-bottom: 1px solid $bor-color;
      li {
        margin-left: 10px;
      }
    }
    .site-maps {
      font-size: 14px;
      color: $bt-color-darker;
      li {
        margin-left: 20px;
      }
    }
  }
}