
    <div class="layout-single-column index-header">
        <div class="avatar">
            <a href="{{ site.url }}">
                <img src="http://ww2.sinaimg.cn/large/62152bc3jw1ecj2fb6l8tj20c80c8aat.jpg" alt=""/>
            </a>
        </div>
        <h1 class="author">Ashley Pazzilivo</h1>
        <p class="bio">
            Front-End Developer working in <a href="//lecai.com" target="_blank">Lecai Inc.</a>  <br/>
            You can find me on <a href="//twitter.com/Pazzilivo">Twitter</a>. 4SQ SU2 Lives in Beijing, China.
        </p>
    </div>
